.headerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    .headerLogo {
        margin-left: 2rem;
    
        img {
            width: 75px;
            height: auto;
            padding: .3rem;

            &:hover {
                cursor: pointer;
                opacity: .6;
                transform: scale(1.05);
            }
        }
    }

    .headerMenu {
        font-family: $body;
        text-transform: uppercase;
        margin-left: auto;
        order: 2;
        padding: 2rem;

        a {
            text-decoration: none;
            color: white;
            margin-left: 2rem;

            &:hover {
                cursor: pointer;
                opacity: .6;
            }

        }
    }
    
}